:root {
    --blue: #0188df;
    --black: #354046;
}

.heads {
    text-align: center;
    padding: 1rem;
    padding-top: 8rem;
    color: #000;
}

.review {
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
}

.review .heading {
    color: #fff;
}
.review .box-container {
    display: flex;
    justify-content: center;
    flex-wrap: no-wrap;
    padding-bottom: 5rem;
}
.review .box-container .box {
    background: #fff;
    width: 30rem;
    margin: 5rem 1rem;
    padding: 1.5rem;
    position: relative;
}
.review .box-container .box img {
    position: absolute;
    bottom: -7rem;
    left: -1rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    object-fit: cover;
}
.review .box-container .box p {
    font-size: 1rem;
    color: var(--black);
}

.review .box-container .box h3 {
    text-align: end;
    color: rgba(25, 28, 133, 0.8);
}
.review .box-container .box span {
    text-align: end;
    color: var(--black);
    display: block;
    font-size: 1rem;
}
.review .box-container .box::before {
    content: "";
    position: absolute;
    bottom: -1rem;
    left: 4rem;
    height: 2rem;
    width: 2rem;
    background: #fff;
    transform: rotate(45deg);
}
